# Dependências
node_modules

# Build do Nuxt
.nuxt
.output
.data
dist

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Ambiente
.env
.env.*
!.env.example
*.local

# Editor / SO
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
