@import url("../../utils/cores.css");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Roboto&display=swap");

.footer-bg {
  background-color: var(--cor-neutra1);
}

.footer {
  padding-top: 60px;
}

.footer-conteudo::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--cor-neutra2);
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding-bottom: 60px;
}

.footer h3 {
  color: var(--cor-branco);
  margin-bottom: 24px;
}

.footer-home a,
.footer-contato a,
.footer-contato {
  color: var(--cor-branco);
  transition: color 0.3s ease-in-out;
}

.footer-anexos {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-anexos a:hover {
  color: var(--cor-primaria1);
}

.footer-contato-infos {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-email,
.footer-endereco {
  display: flex;
  gap: 12px;
}

.footer-email {
  align-items: center;
}

.footer-redes-icons {
  display: flex;
  gap: 16px;
}

.instagram-icon,
.github-icon {
  color: var(--cor-branco);
  transition: color 0.3s ease-in-out;
}

.instagram-icon:hover,
.github-icon:hover {
  color: var(--cor-primaria1);
}

.footer-redes-icons a {
  width: 32px;
}

.footer-copy {
  display: flex;
  justify-content: space-between;
  color: var(--cor-branco);
  margin-top: 40px;
  padding-bottom: 60px;
}

.footer-copy a {
  color: var(--cor-branco);
}

.footer-dev a {
  font-weight: 700;
  transition: color 0.3s ease-in-out;
}

.footer-dev a:hover {
  color: var(--cor-primaria1);
}

@media (max-width: 768px) {
  .footer-grid {
    grid-template-columns: 1fr;
    gap: 60px;
  }

  .footer-logo {
    width: 100%;
    text-align: center;
  }

  .footer-lab {
    max-width: 200px;
  }

  .footer-dev {
    text-align: end;
  }
}
