.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  height: 100vh;
  min-height: 500px;
  margin: 0;
  padding: 0;
}

.hero-texto {
  color: var(--cor-branco);
  text-align: center;
  margin-bottom: 80px;
  z-index: 2;
}

.hero-texto h1 {
  font-size: 6rem;
  font-weight: 800;
  letter-spacing: 6.4px;
  margin-bottom: 64px;
}

.hero-texto h3 {
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 1.92px;
  margin-bottom: 32px;
}

.ponto-final {
  color: var(--cor-primaria1);
}

.hero-divisor {
  position: absolute;
  bottom: -6px;
  width: 100%;
  z-index: 2;
}

@media (max-width: 1400px) {
  .hero-texto h1 {
    font-size: 4rem;
    letter-spacing: 5.12px;
  }
  .hero-texto h3 {
    font-size: 2rem;
    letter-spacing: 1.6px;
  }
}

@media (max-width: 1024px) {
  .hero-texto h1 {
    font-size: 3rem;
    letter-spacing: 3.84px;
  }
  .hero-texto h3 {
    font-size: 1.5rem;
    letter-spacing: 1.28px;
  }
}

@media (max-width: 768px) {
  .hero {
    height: auto;
  }

  .hero-texto h1 {
    font-size: 2rem;
    margin-bottom: 40px;
  }

  .hero-texto h3 {
    font-size: 1.5rem;
    margin-bottom: 16px;
  }

  .scroll-button-hero {
    scale: 0.8;
  }
}

@media (max-width: 500px) {
  .hero-texto h1 {
    font-size: 1.5rem;
    letter-spacing: 2.56px;
    margin-bottom: 40px;
  }

  .hero-texto h3 {
    font-size: 0.8rem;
    letter-spacing: 1.28px;
    margin-bottom: 16px;
  }

  .scroll-button-hero {
    scale: 0.6;
  }
}
