.item-projetos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  overflow: hidden;
}

.item-projetos-imagem-container {
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

.item-projetos-imagem {
  width: 100%;
  height: 260px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  border-radius: 12px;
}

.item-projetos-imagem:hover {
  transform: scale(1.05);
}

.item-projetos-info {
  text-align: center;
  color: var(--cor-neutra1);
}

.item-projetos-titulo {
  margin-top: 16px;
  margin-bottom: 16px;
}

@media (max-width: 930px) {
  .item-projetos {
    width: 100%;
  }
}
