.swiper {
  max-width: 800px;
  max-height: 520px;
  border-radius: 12px;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--cor-primaria1);
}

.swiper-pagination-bullet {
  background-color: var(--cor-primaria1);
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal-projetos {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--cor-branco);
  border-radius: 12px;
  width: 90%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-projetos-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 16, 19, 0.92);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
}

.modal-projetos-open {
  overflow: hidden;
}

.modal-projetos-fechar {
  position: absolute;
  right: -64px;
  top: -32px;
  color: var(--cor-branco);
  cursor: pointer;
}

.modal-projetos-conteudo {
  display: flex;
  gap: 40px;
  padding: 24px;
  overflow: auto;
}

.modal-projetos-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 600px;
}

.modal-projetos-imagem-principal {
  border-radius: 12px;
  max-width: 100%;
  object-fit: cover;
}

.modal-projetos-redes {
  display: flex;
  align-items: center;
  gap: 12px;
}

.modal-icon {
  background-color: var(--cor-primaria1);
  color: var(--cor-neutra1);
  border-radius: 50%;
  padding: 8px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.modal-icon:hover {
  background-color: var(--cor-neutra1);
  color: var(--cor-primaria1);
}

@media (max-width: 1600px) {
  .swiper {
    max-width: 800px;
    max-height: 400px;
  }

  .modal-projetos-conteudo {
    flex-wrap: wrap;
    height: 100%;
    overflow-y: auto;
  }

  .modal-projetos-info {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 1300px) {
  .modal-projetos-fechar {
    right: -50px;
    top: -24px;
  }
}

@media (max-width: 970px) {
  .swiper {
    max-height: 380px;
  }

  .modal-projetos-fechar {
    right: -40px;
    top: -24px;
  }
}

@media (max-width: 768px) {
  .swiper {
    max-height: 300px;
  }

  .modal-projetos-fechar {
    right: 0;
    top: -46px;
  }
}

@media (max-width: 580px) {
  .swiper {
    max-height: 240px;
  }

  .modal-projetos-conteudo {
    height: 140vw;
    overflow-y: auto;
  }

  .modal-projetos {
    height: fit-content;
  }

  .modal-projetos-fechar {
    right: 0;
    top: -56px;
  }
}

.item-projetos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  overflow: hidden;
  cursor: pointer;
}

.item-projetos-imagem-container {
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

.item-projetos-imagem {
  width: 100%;
  height: 260px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  border-radius: 12px;
}

.item-projetos-imagem:hover {
  transform: scale(1.05);
}

.item-projetos-info {
  text-align: center;
  color: var(--cor-neutra1);
}

.item-projetos-titulo {
  margin-top: 16px;
  margin-bottom: 16px;
}

@media (max-width: 930px) {
  .item-projetos {
    width: 100%;
  }
}
