@import url("../../utils/cores.css");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Roboto:wght@400;700&display=swap");

.item-membros {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  overflow: hidden;
  padding: 40px;
  background-color: var(--cor-branco);
  border-radius: 12px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--cor-cinza);
}

.item-membros-img {
  object-fit: cover;
  width: 100%;
  border-radius: 50%;
}

.item-membros-infos {
  text-align: center;
  padding-top: 40px;
}

.item-membros-nome {
  color: var(--cor-neutra1);
}

.item-membros-curso-container {
  display: flex;
  align-items: center;
  gap: 2px;
}

.item-membros-curso {
  color: var(--cor-neutra1);
  padding-top: 12px;
}

.item-membros-back {
  display: flex;
  flex-direction: column;
  width: 280px;
  overflow: hidden;
  padding: 24px;
  background-color: var(--cor-branco);
  border-radius: 12px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--cor-cinza);
}

.item-membros-nome-back {
  color: var(--cor-neutra1);
}

.item-membros-nome-completo-back {
  color: var(--cor-neutra1);
  padding-top: 12px;
}

.item-membros-curso-container-back {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 24px;
}

.item-membros-curso-back {
  color: var(--cor-neutra1);
}

.item-membros-redes-back {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 12px;
  bottom: 0;
  padding-bottom: 24px;
  box-sizing: border-box;
}

.item-membros-redes-back a {
  color: var(--cor-neutra1);
  transition: color 0.3s ease-in-out;
}

.item-membros-redes-back a:hover {
  color: var(--cor-primaria1);
}

.divisor-membros {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 100px;
}

@media (max-width: 685px) {
  .item-membros,
  .item-membros-back {
    width: 100%;
  }

  .item-membros {
    padding: 60px;
  }

  .item-membros-back {
    padding: 40px;
  }

  .item-membros-redes-back {
    padding-bottom: 40px;
  }
}
