.projetos-bg {
  background-color: var(--cor-branco);
  margin-bottom: 80px;
}

.projetos-header {
  background-color: var(--cor-primaria1);
  box-shadow: inset 0 -6px var(--cor-branco);
}

.projetos-titulo {
  text-align: center;
  color: var(--cor-neutra1);
  padding-top: 60px;
  padding-bottom: 60px;
}

.projetos-divisor-top {
  width: 100%;
}

.projetos-divisor-bottom {
  width: 100%;
}

.projetos-itens {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 76px;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.projetos-botao {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .projetos-titulo {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
