.sobre {
  margin-top: 80px;
  margin-bottom: 80px;
  overflow: hidden;
}

.sobre-conteudo {
  display: flex;
  align-items: center;
}

.sobre-textos {
  color: var(--cor-neutra1);
}

.subtitulo {
  margin-bottom: 16px;
}

.titulo {
  margin-bottom: 32px;
}

.paragrafo {
  margin-bottom: 32px;
}

.sobre-imagem {
  margin-left: 24px;
}

@media (max-width: 1000px) {
  .sobre {
    margin-top: 40px;
  }

  .sobre-conteudo {
    flex-direction: column-reverse;
    gap: 40px;
  }

  .sobre-textos {
    text-align: center;
  }

  .sobre-imagem {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .subtitulo {
    margin-bottom: 12px;
  }

  .titulo {
    margin-bottom: 16px;
  }
}
