.itens-bg {
  background-color: var(--cor-primaria1);
}

.itens {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  z-index: 5;
  padding-top: 80px;
  padding-bottom: 80px;
}

@media (max-width: 1400px) {
  .itens {
    flex-direction: column;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
