@import url("../../utils/cores.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

.botao {
  background-color: var(--cor-primaria1);
  border-radius: 4px;
  color: var(--cor-neutra1);
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  transition: filter 0.3s ease-in-out;
  padding: 16px 40px;
}

.botao:hover {
  filter: brightness(0.9);
}

.botao:active {
  filter: brightness(0.8);
}

@media (max-width: 768px) {
  .botao {
    padding: 16px 24px;
  }
}
