@import url("../../utils/cores.css");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500;800&display=swap");

.ruido-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent url("http://assets.iceable.com/img/noise-transparent.png") repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation 0.2s infinite;
  opacity: 1;
  z-index: 1;
}

@keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-1%, -1%);
  }
  20% {
    transform: translate(-2%, 1%);
  }
  30% {
    transform: translate(1%, -2%);
  }
  40% {
    transform: translate(-1%, 1.5%);
  }
  50% {
    transform: translate(-2%, 1%);
  }
  60% {
    transform: translate(1.5%, 0);
  }
  70% {
    transform: translate(0, 1%);
  }
  80% {
    transform: translate(-1.5%, 0);
  }
  90% {
    transform: translate(1%, 0.5%);
  }
  100% {
    transform: translate(0.5%, 0);
  }
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  height: 100vh;
  min-height: 500px;
  margin: 0;
  padding: 0;
}

.hero-texto {
  color: var(--cor-branco);
  text-align: center;
  font-family: "Orbitron", sans-serif;
  text-transform: uppercase;
  margin-bottom: 80px;
  z-index: 2;
}

.hero-texto h1 {
  font-size: 5rem;
  font-weight: 800;
  letter-spacing: 6.4px;
  margin-bottom: 24px;
}

.hero-texto p {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1.92px;
}

.ponto-final {
  color: var(--cor-primaria1);
}

.hero-divisor {
  position: absolute;
  bottom: -4px;
  width: 100%;
  z-index: 2;
}

@media (max-width: 768px) {
  .hero-texto {
    margin-top: 120px;
    margin-bottom: 80px;
  }
  .hero-texto h1 {
    font-size: 3rem;
    letter-spacing: 3.84px;
  }
  .hero-texto p {
    font-size: 1rem;
    letter-spacing: 1.28px;
  }
}
