@import url("../../utils/cores.css");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Roboto&display=swap");

.membros-bg {
  background-color: var(--cor-neutra1);
}

.membros {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 76px;
  flex-wrap: wrap;
  padding-bottom: 60px;
}

.membros-titulo {
  font-family: "Orbitron", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 3.84px;
  text-align: center;
  text-transform: uppercase;
  color: var(--cor-branco);
  padding-top: 80px;
  margin-bottom: 80px;
}

@media (max-width: 685px) {
  .membros {
    justify-content: space-between;
    gap: 60px;
  }
  .membros-titulo {
    font-size: 2rem;
    letter-spacing: 2.56px;
    padding-top: 40px;
    margin-bottom: 40px;
  }
}
